<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SegmentDownloader.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SegmentDownloader.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>				  
			<section name="SegmentDownloader.Extension.AntiVirus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SegmentDownloader.Extension.Notifications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SegmentDownloader.Protocol.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SegmentDownloader.Extension.Scheduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	
	<userSettings>

		<SegmentDownloader.App.Settings>
		   <setting name="ViewTransDetails" serializeAs="String">
			<value>True</value>
		   </setting>
		   <setting name="ViewToolbar" serializeAs="String">
			<value>True</value>
		   </setting>
		   <setting name="ViewGrid" serializeAs="String">
			<value>True</value>
		   </setting>
	  </SegmentDownloader.App.Settings>

  <SegmentDownloader.Core.Settings>
			<setting name="MinSegmentSize" serializeAs="String">
				<value>200000</value>
			</setting>
			<setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
				<value>30</value>
			</setting>
      <setting name="InitialRetryDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InitialMaxRetries" serializeAs="String">
        <value>5</value>
      </setting>
			<setting name="RetryDelay" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="MaxRetries" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="MaxSegments" serializeAs="String">
				<value>5</value>
			</setting>
		</SegmentDownloader.Core.Settings>
		   
		<SegmentDownloader.Extension.AntiVirus.Settings>
			<setting name="CheckFileWithAV" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AVFileName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FileTypes" serializeAs="String">
				<value>.exe;.com</value>
			</setting>
			<setting name="AVParameter" serializeAs="String">
				<value>-a</value>
			</setting>
		</SegmentDownloader.Extension.AntiVirus.Settings>

		<SegmentDownloader.Extension.Scheduler.Settings>
		  <setting name="MaxJobs" serializeAs="String">
			<value>5</value>
		  </setting>
		  <setting name="WorkOnlyOnSpecifiedTimes" serializeAs="String">
			<value>False</value>
		  </setting>
		  <setting name="TimesToWork" serializeAs="String">
			<value/>
		  </setting>
		</SegmentDownloader.Extension.Scheduler.Settings>

    <SegmentDownloader.Protocol.Settings>
			<setting name="UseProxy" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ProxyAddress" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyPort" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="ProxyUserName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyDomain" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ProxyByPassOnLocal" serializeAs="String">
				<value>True</value>
			</setting>
		</SegmentDownloader.Protocol.Settings>

		<SegmentDownloader.Extension.Notifications.Settings>
			<setting name="DownloadAddedSound" serializeAs="String">
				<value/>
			</setting>
			<setting name="DownloadRemovedSound" serializeAs="String">
				<value/>
			</setting>
			<setting name="DownloadEndedSound" serializeAs="String">
				<value/>
			</setting>
			<setting name="ShowBallon" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="BallonTimeout" serializeAs="String">
				<value>3000</value>
			</setting>
		</SegmentDownloader.Extension.Notifications.Settings>
		
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
